<!-- Этот шаблон возвращает только список комментариев -->
{% if route.comments %}
  <ul>
    {% for comment in route.comments %}
      <li>
        <p>{{ comment.text }}</p>
        <small>
          Оценка: 
          {% if ratings[comment.id] is not none %}
            {{ ratings[comment.id] }} ★
          {% else %}
            Нет оценки
          {% endif %}
           | {{ comment.created_at.strftime("%d-%m-%Y %H:%M") }}
        </small>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>Нет комментариев.</p>
{% endif %}
