{% if route.comments %}
  <ul>
    {% for comment in route.comments %}
      <li style="display: flex; align-items: center; gap: 10px; margin-bottom: 10px;">


        <div class="avatar" id="avatar-container">
          {% if comment.user.avatar_url %}
            <a href="/user/{{ comment.user.id }}">
              <img src="{{ comment.user.avatar_url or url_for('static', filename='default-avatar.png') }}" 
                  alt="Аватар пользователя" 
                  style="width: 40px; height: 40px; border-radius: 50%;">
            </a>
          {% else %}
          <a href="/user/{{ comment.user.id }}">
            <img src="{{ url_for('static', filename='images/default-avatar.png') }}"
                alt="Аватар пользователя" 
                style="width: 40px; height: 40px; border-radius: 50%;">
          </a>
          {% endif %}
        </div>



        <div>
          <p><strong>{{ comment.user.username }}</strong>: {{ comment.text }}</p>
          <small>
            Оценка: 
            {% if ratings[comment.id] is not none %}
              {{ ratings[comment.id] }} ★
            {% else %}
              Нет оценки
            {% endif %}

          </small>
        </div>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>Нет комментариев.</p>
{% endif %}
